In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("../data/student.csv")
df2 = pd.DataFrame(df, columns=['sex','weight','height'])
df2.head()

      sex  weight  height
0    male    52.3   157.1
1  female    53.6   160.8
2    male    53.4   160.5
3    male    52.2   159.0
4  female    53.1   160.9

In [13]:
df2['bmi_R']=df2['weight']/((df2['height']/100)*(df2['height']/100))
df2.head()

      sex  weight  height      bmi_R
0    male    52.3   157.1  21.190896
1  female    53.6   160.8  20.729685
2    male    53.4   160.5  20.729612
3    male    52.2   159.0  20.647917
4  female    53.1   160.9  20.510792

In [43]:
filterM = df2['sex']=='male'
df_M = df2[filterM]
df_M['bmi_R'].mean()

22.69063063951057

In [44]:
filterFM = df2['sex']=='female'
df_FM = df2[filterFM]
df_FM['bmi_R'].mean()

22.367154039283648

In [50]:
while True:
    a = int(input("알고싶은 평균 BMI지수의 성별을 입력해 주세요. 남자(1) 여자(2) 종료(3): "))
    if(a == 1):
        print(df_M['bmi_R'].mean())
    elif(a == 2):
        print(df_FM['bmi_R'].mean())
    elif(a == 3):
        print("화면종료")
        break

22.69063063951057
22.367154039283648

ValueError: invalid literal for int() with base 10: ''